In [68]:
import pandas as pd

In [69]:
pubg_file = "../DATA/train_V2.csv"
pubg_test_file = "../DATA/test_V2.csv"

In [70]:
pubgDF_ori = pd.read_csv(pubg_file).dropna()
pubgDF_ori.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4446965 entries, 0 to 4446965
Data columns (total 29 columns):
 #   Column           Dtype
---  ------           -----
 0   Id               object
 1   groupId          object
 2   matchId          object
 3   assists          int64
 4   boosts           int64
 5   damageDealt      float64
 6   DBNOs            int64
 7   headshotKills    int64
 8   heals            int64
 9   killPlace        int64
 10  killPoints       int64
 11  kills            int64
 12  killStreaks      int64
 13  longestKill      float64
 14  matchDuration    int64
 15  matchType        object
 16  maxPlace         int64
 17  numGroups        int64
 18  rankPoints       int64
 19  revives          int64
 20  rideDistance     float64
 21  roadKills        int64
 22  swimDistance     float64
 23  teamKills        int64
 24  vehicleDestroys  int64
 25  walkDistance     float64
 26  weaponsAcquired  int64
 27  winPoints        int64
 28  winPlacePerc     float64
dtypes: float64(6), int64(19), object(4)
memory usage: 1017.8+ MB

In [100]:
pubgDF_ori.corr(numeric_only=True)["winPlacePerc"].sort_values(ascending=False)

winPlacePerc       1.000000
walkDistance       0.810888
boosts             0.634234
weaponsAcquired    0.583806
damageDealt        0.440507
heals              0.427857
kills              0.419916
longestKill        0.410154
killStreaks        0.377566
rideDistance       0.342915
assists            0.299441
DBNOs              0.279970
headshotKills      0.277722
revives            0.240881
swimDistance       0.149607
vehicleDestroys    0.073436
numGroups          0.039621
maxPlace           0.037377
roadKills          0.034544
teamKills          0.015943
rankPoints         0.013523
killPoints         0.012908
winPoints          0.007061
matchDuration     -0.005171
killPlace         -0.719069
Name: winPlacePerc, dtype: float64

In [71]:
pubg_testDF_ori = pd.read_csv(pubg_test_file).dropna()
pubg_testDF_ori.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1934174 entries, 0 to 1934173
Data columns (total 28 columns):
 #   Column           Dtype
---  ------           -----
 0   Id               object
 1   groupId          object
 2   matchId          object
 3   assists          int64
 4   boosts           int64
 5   damageDealt      float64
 6   DBNOs            int64
 7   headshotKills    int64
 8   heals            int64
 9   killPlace        int64
 10  killPoints       int64
 11  kills            int64
 12  killStreaks      int64
 13  longestKill      float64
 14  matchDuration    int64
 15  matchType        object
 16  maxPlace         int64
 17  numGroups        int64
 18  rankPoints       int64
 19  revives          int64
 20  rideDistance     float64
 21  roadKills        int64
 22  swimDistance     float64
 23  teamKills        int64
 24  vehicleDestroys  int64
 25  walkDistance     float64
 26  weaponsAcquired  int64
 27  winPoints        int64
dtypes: float64(5), int64(19), object(4)
memory usage: 413.2+ MB

In [72]:
drop_features_object = ["Id", "groupId", "matchId"]
drop_features_replace = ["rankPoints", "winPoints"]

In [73]:
pubgDF_pre1 = pubgDF_ori.drop(drop_features_object, axis=1)
pubgDF_pre1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4446965 entries, 0 to 4446965
Data columns (total 26 columns):
 #   Column           Dtype
---  ------           -----
 0   assists          int64
 1   boosts           int64
 2   damageDealt      float64
 3   DBNOs            int64
 4   headshotKills    int64
 5   heals            int64
 6   killPlace        int64
 7   killPoints       int64
 8   kills            int64
 9   killStreaks      int64
 10  longestKill      float64
 11  matchDuration    int64
 12  matchType        object
 13  maxPlace         int64
 14  numGroups        int64
 15  rankPoints       int64
 16  revives          int64
 17  rideDistance     float64
 18  roadKills        int64
 19  swimDistance     float64
 20  teamKills        int64
 21  vehicleDestroys  int64
 22  walkDistance     float64
 23  weaponsAcquired  int64
 24  winPoints        int64
 25  winPlacePerc     float64
dtypes: float64(6), int64(19), object(1)
memory usage: 916.0+ MB

In [74]:
pubg_testDF_pre1 = pubg_testDF_ori.drop(drop_features_object, axis=1)
pubg_testDF_pre1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1934174 entries, 0 to 1934173
Data columns (total 25 columns):
 #   Column           Dtype
---  ------           -----
 0   assists          int64
 1   boosts           int64
 2   damageDealt      float64
 3   DBNOs            int64
 4   headshotKills    int64
 5   heals            int64
 6   killPlace        int64
 7   killPoints       int64
 8   kills            int64
 9   killStreaks      int64
 10  longestKill      float64
 11  matchDuration    int64
 12  matchType        object
 13  maxPlace         int64
 14  numGroups        int64
 15  rankPoints       int64
 16  revives          int64
 17  rideDistance     float64
 18  roadKills        int64
 19  swimDistance     float64
 20  teamKills        int64
 21  vehicleDestroys  int64
 22  walkDistance     float64
 23  weaponsAcquired  int64
 24  winPoints        int64
dtypes: float64(5), int64(19), object(1)
memory usage: 368.9+ MB

In [75]:
pubgDF_pre1[drop_features_replace]

         rankPoints  winPoints
0                -1       1466
1              1484          0
2              1491          0
3              1408          0
4              1560          0
...             ...        ...
4446961          -1       1507
4446962        1501          0
4446963        1500          0
4446964        1418          0
4446965        1590          0

[4446965 rows x 2 columns]

In [76]:
pubg_testDF_pre1[drop_features_replace]

         rankPoints  winPoints
0              1500          0
1              1503          0
2              1565          0
3              1465          0
4              1480          0
...             ...        ...
1934169          -1       1526
1934170          -1       1496
1934171        1482          0
1934172        1456          0
1934173          -1       1551

[1934174 rows x 2 columns]

In [101]:
pubgDF_pre1[drop_features_replace][
    (pubgDF_pre1["rankPoints"] != -1)
    & (pubgDF_pre1["rankPoints"] != 0)
    & (pubgDF_pre1["winPoints"] != 0)
]

Empty DataFrame
Columns: [rankPoints, winPoints]
Index: []

In [102]:
pubg_testDF_pre1[drop_features_replace][
    (pubg_testDF_pre1["rankPoints"] != -1)
    & (pubg_testDF_pre1["rankPoints"] != 0)
    & (pubg_testDF_pre1["winPoints"] != 0)
]

Empty DataFrame
Columns: [rankPoints, winPoints]
Index: []

In [103]:
winRankPoints = pubgDF_pre1["rankPoints"].replace(-1, 0) + pubgDF_pre1["winPoints"]
winRankPoints

0          1466
1          1484
2          1491
3          1408
4          1560
           ...
4446961    1507
4446962    1501
4446963    1500
4446964    1418
4446965    1590
Length: 4446965, dtype: int64

In [79]:
pubgDF_pre2 = pd.concat(
    [
        pubgDF_pre1.drop(drop_features_replace + ["winPlacePerc"], axis=1),
        winRankPoints.rename("winRankPoints"),
        pubgDF_pre1["winPlacePerc"],
    ],
    axis=1,
)
pubgDF_pre2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4446965 entries, 0 to 4446965
Data columns (total 25 columns):
 #   Column           Dtype
---  ------           -----
 0   assists          int64
 1   boosts           int64
 2   damageDealt      float64
 3   DBNOs            int64
 4   headshotKills    int64
 5   heals            int64
 6   killPlace        int64
 7   killPoints       int64
 8   kills            int64
 9   killStreaks      int64
 10  longestKill      float64
 11  matchDuration    int64
 12  matchType        object
 13  maxPlace         int64
 14  numGroups        int64
 15  revives          int64
 16  rideDistance     float64
 17  roadKills        int64
 18  swimDistance     float64
 19  teamKills        int64
 20  vehicleDestroys  int64
 21  walkDistance     float64
 22  weaponsAcquired  int64
 23  winRankPoints    int64
 24  winPlacePerc     float64
dtypes: float64(6), int64(18), object(1)
memory usage: 882.1+ MB

In [ ]:
winRankPoints_test = (
    pubg_testDF_pre1["rankPoints"].replace(-1, 0) + pubg_testDF_pre1["winPoints"]
)

In [80]:
pubg_testDF_pre2 = pd.concat(
    [
        pubg_testDF_pre1.drop(drop_features_replace, axis=1),
        winRankPoints_test.rename("winRankPoints"),
    ],
    axis=1,
)
pubg_testDF_pre2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1934174 entries, 0 to 1934173
Data columns (total 24 columns):
 #   Column           Dtype
---  ------           -----
 0   assists          int64
 1   boosts           int64
 2   damageDealt      float64
 3   DBNOs            int64
 4   headshotKills    int64
 5   heals            int64
 6   killPlace        int64
 7   killPoints       int64
 8   kills            int64
 9   killStreaks      int64
 10  longestKill      float64
 11  matchDuration    int64
 12  matchType        object
 13  maxPlace         int64
 14  numGroups        int64
 15  revives          int64
 16  rideDistance     float64
 17  roadKills        int64
 18  swimDistance     float64
 19  teamKills        int64
 20  vehicleDestroys  int64
 21  walkDistance     float64
 22  weaponsAcquired  int64
 23  winRankPoints    int64
dtypes: float64(5), int64(18), object(1)
memory usage: 354.2+ MB

In [81]:
pubg_testDF_pre1.columns

Index(['assists', 'boosts', 'damageDealt', 'DBNOs', 'headshotKills', 'heals',
       'killPlace', 'killPoints', 'kills', 'killStreaks', 'longestKill',
       'matchDuration', 'matchType', 'maxPlace', 'numGroups', 'rankPoints',
       'revives', 'rideDistance', 'roadKills', 'swimDistance', 'teamKills',
       'vehicleDestroys', 'walkDistance', 'weaponsAcquired', 'winPoints'],
      dtype='object')

In [82]:
def opt_dtype(df: pd.DataFrame):
    df2 = df.copy()
    for col in df.columns:
        if df[col].dtype == "int64":
            if df[col].max() < 2**8:
                df2[col] = df[col].astype("uint8")
            elif df[col].max() < 2**16:
                df2[col] = df[col].astype("uint16")
            elif df[col].max() < 2**32:
                df2[col] = df[col].astype("uint32")
    return df2

In [83]:
pubgDF_pre3 = opt_dtype(pubgDF_pre2)
pubgDF_pre3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4446965 entries, 0 to 4446965
Data columns (total 25 columns):
 #   Column           Dtype
---  ------           -----
 0   assists          uint8
 1   boosts           uint8
 2   damageDealt      float64
 3   DBNOs            uint8
 4   headshotKills    uint8
 5   heals            uint8
 6   killPlace        uint8
 7   killPoints       uint16
 8   kills            uint8
 9   killStreaks      uint8
 10  longestKill      float64
 11  matchDuration    uint16
 12  matchType        object
 13  maxPlace         uint8
 14  numGroups        uint8
 15  revives          uint8
 16  rideDistance     float64
 17  roadKills        uint8
 18  swimDistance     float64
 19  teamKills        uint8
 20  vehicleDestroys  uint8
 21  walkDistance     float64
 22  weaponsAcquired  uint8
 23  winRankPoints    uint16
 24  winPlacePerc     float64
dtypes: float64(6), object(1), uint16(3), uint8(15)
memory usage: 360.5+ MB

In [84]:
pubg_testDF_pre3 = opt_dtype(pubg_testDF_pre2)
pubg_testDF_pre3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1934174 entries, 0 to 1934173
Data columns (total 24 columns):
 #   Column           Dtype
---  ------           -----
 0   assists          uint8
 1   boosts           uint8
 2   damageDealt      float64
 3   DBNOs            uint8
 4   headshotKills    uint8
 5   heals            uint8
 6   killPlace        uint8
 7   killPoints       uint16
 8   kills            uint8
 9   killStreaks      uint8
 10  longestKill      float64
 11  matchDuration    uint16
 12  matchType        object
 13  maxPlace         uint8
 14  numGroups        uint8
 15  revives          uint8
 16  rideDistance     float64
 17  roadKills        uint8
 18  swimDistance     float64
 19  teamKills        uint8
 20  vehicleDestroys  uint8
 21  walkDistance     float64
 22  weaponsAcquired  uint8
 23  winRankPoints    uint16
dtypes: float64(5), object(1), uint16(3), uint8(15)
memory usage: 127.3+ MB

In [85]:
pubg_testDF_pre3_solo = opt_dtype(pubg_testDF_pre1)
pubg_testDF_pre3_solo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1934174 entries, 0 to 1934173
Data columns (total 25 columns):
 #   Column           Dtype
---  ------           -----
 0   assists          uint8
 1   boosts           uint8
 2   damageDealt      float64
 3   DBNOs            uint8
 4   headshotKills    uint8
 5   heals            uint8
 6   killPlace        uint8
 7   killPoints       uint16
 8   kills            uint8
 9   killStreaks      uint8
 10  longestKill      float64
 11  matchDuration    uint16
 12  matchType        object
 13  maxPlace         uint8
 14  numGroups        uint8
 15  rankPoints       uint16
 16  revives          uint8
 17  rideDistance     float64
 18  roadKills        uint8
 19  swimDistance     float64
 20  teamKills        uint8
 21  vehicleDestroys  uint8
 22  walkDistance     float64
 23  weaponsAcquired  uint8
 24  winPoints        uint16
dtypes: float64(5), object(1), uint16(4), uint8(15)
memory usage: 131.0+ MB

In [86]:
pubgDF_pre3["matchType"].unique()

array(['squad-fpp', 'duo', 'solo-fpp', 'squad', 'duo-fpp', 'solo',
       'normal-squad-fpp', 'crashfpp', 'flaretpp', 'normal-solo-fpp',
       'flarefpp', 'normal-duo-fpp', 'normal-duo', 'normal-squad',
       'crashtpp', 'normal-solo'], dtype=object)

In [87]:
mask_duo = pubgDF_pre3["matchType"] == "duo"
mask_duo_fpp = pubgDF_pre3["matchType"] == "duo-fpp"

In [88]:
mask_test_solo = pubg_testDF_pre3_solo["matchType"] == "solo"
mask_test_solo_fpp = pubg_testDF_pre3_solo["matchType"] == "solo-fpp"
mask_test_duo = pubg_testDF_pre3["matchType"] == "duo"
mask_test_duo_fpp = pubg_testDF_pre3["matchType"] == "duo-fpp"
mask_test_squad = pubg_testDF_pre3["matchType"] == "squad"
mask_test_squad_fpp = pubg_testDF_pre3["matchType"] == "squad-fpp"

In [89]:
mask_test_solo_normal = pubg_testDF_pre3["matchType"] == "normal-solo"
mask_test_solo_fpp_normal = pubg_testDF_pre3["matchType"] == "normal-solo-fpp"
mask_test_duo_normal = pubg_testDF_pre3["matchType"] == "normal-duo"
mask_test_duo_fpp_normal = pubg_testDF_pre3["matchType"] == "normal-duo-fpp"
mask_test_squad_normal = pubg_testDF_pre3["matchType"] == "normal-squad"
mask_test_squad_fpp_normal = pubg_testDF_pre3["matchType"] == "normal-squad-fpp"

In [90]:
pubg_duoDF = pubgDF_pre3[mask_duo].drop("matchType", axis=1)
pubg_duo_fppDF = pubgDF_pre3[mask_duo_fpp].drop("matchType", axis=1)

In [91]:
pubg_test_soloDF = pubg_testDF_pre3_solo[mask_test_solo].drop("matchType", axis=1)
pubg_test_solo_fppDF = pubg_testDF_pre3_solo[mask_test_solo_fpp].drop(
    "matchType", axis=1
)
pubg_test_duoDF = pubg_testDF_pre3[mask_test_duo].drop("matchType", axis=1)
pubg_test_duo_fppDF = pubg_testDF_pre3[mask_test_duo_fpp].drop("matchType", axis=1)
pubg_test_squadDF = pubg_testDF_pre3[mask_test_squad].drop("matchType", axis=1)
pubg_test_squad_fppDF = pubg_testDF_pre3[mask_test_squad_fpp].drop("matchType", axis=1)

In [92]:
pubg_test_solo_normalDF = pubg_testDF_pre3[mask_test_solo_normal].drop(
    "matchType", axis=1
)
pubg_test_solo_fpp_normalDF = pubg_testDF_pre3[mask_test_solo_fpp_normal].drop(
    "matchType", axis=1
)
pubg_test_duo_normalDF = pubg_testDF_pre3[mask_test_duo_normal].drop(
    "matchType", axis=1
)
pubg_test_duo_fpp_normalDF = pubg_testDF_pre3[mask_test_duo_fpp_normal].drop(
    "matchType", axis=1
)
pubg_test_squad_normalDF = pubg_testDF_pre3[mask_test_squad_normal].drop(
    "matchType", axis=1
)
pubg_test_squad_fpp_normalDF = pubg_testDF_pre3[mask_test_squad_fpp_normal].drop(
    "matchType", axis=1
)

In [93]:
save_dir = "./DataFrame/"

In [94]:
pubg_duoDF.to_pickle(save_dir + "pubg_duoDF.pkl")
pubg_duo_fppDF.to_pickle(save_dir + "pubg_duo_fppDF.pkl")

In [95]:
pubg_test_soloDF.to_pickle(save_dir + "pubg_test_soloDF.pkl")
pubg_test_solo_fppDF.to_pickle(save_dir + "pubg_test_solo_fppDF.pkl")
pubg_test_duoDF.to_pickle(save_dir + "pubg_test_duoDF.pkl")
pubg_test_duo_fppDF.to_pickle(save_dir + "pubg_test_duo_fppDF.pkl")
pubg_test_squadDF.to_pickle(save_dir + "pubg_test_squadDF.pkl")
pubg_test_squad_fppDF.to_pickle(save_dir + "pubg_test_squad_fppDF.pkl")

In [96]:
pubg_test_solo_normalDF.to_pickle(save_dir + "pubg_test_solo_normalDF.pkl")
pubg_test_solo_fpp_normalDF.to_pickle(save_dir + "pubg_test_solo_fpp_normalDF.pkl")
pubg_test_duo_normalDF.to_pickle(save_dir + "pubg_test_duo_normalDF.pkl")
pubg_test_duo_fpp_normalDF.to_pickle(save_dir + "pubg_test_duo_fpp_normalDF.pkl")
pubg_test_squad_normalDF.to_pickle(save_dir + "pubg_test_squad_normalDF.pkl")
pubg_test_squad_fpp_normalDF.to_pickle(save_dir + "pubg_test_squad_fpp_normalDF.pkl")

In [97]:
pubg_test_solo_normalDF.iloc[0:5]

,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,killPoints,kills,killStreaks,...,numGroups,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winRankPoints
5690,0,0,17.20,0,0,0,1,0,1,1,...,2,0,0.0,0,0.0,0,0,21.87,0,1500
8851,0,0,113.30,0,0,2,34,0,0,0,...,38,0,1248.0,0,0.0,0,0,418.80,4,1500
22376,0,0,30.96,0,0,0,10,0,0,0,...,2,0,0.0,0,0.0,0,0,79.95,0,1500
77399,0,2,100.00,0,0,2,8,0,1,1,...,38,0,5366.0,0,0.0,0,0,1092.00,4,1500
81162,0,0,100.00,0,1,0,13,0,1,1,...,38,0,1370.0,0,0.0,1,0,484.70,4,1500

In [98]:
pubg_test_soloDF.columns

Index(['assists', 'boosts', 'damageDealt', 'DBNOs', 'headshotKills', 'heals',
       'killPlace', 'killPoints', 'kills', 'killStreaks', 'longestKill',
       'matchDuration', 'maxPlace', 'numGroups', 'rankPoints', 'revives',
       'rideDistance', 'roadKills', 'swimDistance', 'teamKills',
       'vehicleDestroys', 'walkDistance', 'weaponsAcquired', 'winPoints'],
      dtype='object')