In [1]:
import pandas as pd

In [2]:
pubg_file = "../DATA/train_V2.csv"
pubg_test_file = "../DATA/test_V2.csv"

In [3]:
pubgDF_ori = pd.read_csv(pubg_file).dropna()
pubgDF_ori.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4446965 entries, 0 to 4446965
Data columns (total 29 columns):
 #   Column           Dtype
---  ------           -----
 0   Id               object
 1   groupId          object
 2   matchId          object
 3   assists          int64
 4   boosts           int64
 5   damageDealt      float64
 6   DBNOs            int64
 7   headshotKills    int64
 8   heals            int64
 9   killPlace        int64
 10  killPoints       int64
 11  kills            int64
 12  killStreaks      int64
 13  longestKill      float64
 14  matchDuration    int64
 15  matchType        object
 16  maxPlace         int64
 17  numGroups        int64
 18  rankPoints       int64
 19  revives          int64
 20  rideDistance     float64
 21  roadKills        int64
 22  swimDistance     float64
 23  teamKills        int64
 24  vehicleDestroys  int64
 25  walkDistance     float64
 26  weaponsAcquired  int64
 27  winPoints        int64
 28  winPlacePerc     float64
dtypes: float64(6), int64(19), object(4)
memory usage: 1017.8+ MB

In [4]:
pubg_testDF_ori = pd.read_csv(pubg_test_file).dropna()
pubg_testDF_ori.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1934174 entries, 0 to 1934173
Data columns (total 28 columns):
 #   Column           Dtype
---  ------           -----
 0   Id               object
 1   groupId          object
 2   matchId          object
 3   assists          int64
 4   boosts           int64
 5   damageDealt      float64
 6   DBNOs            int64
 7   headshotKills    int64
 8   heals            int64
 9   killPlace        int64
 10  killPoints       int64
 11  kills            int64
 12  killStreaks      int64
 13  longestKill      float64
 14  matchDuration    int64
 15  matchType        object
 16  maxPlace         int64
 17  numGroups        int64
 18  rankPoints       int64
 19  revives          int64
 20  rideDistance     float64
 21  roadKills        int64
 22  swimDistance     float64
 23  teamKills        int64
 24  vehicleDestroys  int64
 25  walkDistance     float64
 26  weaponsAcquired  int64
 27  winPoints        int64
dtypes: float64(5), int64(19), object(4)
memory usage: 413.2+ MB

In [5]:
drop_features_object = ["Id", "groupId", "matchId"]
drop_features_replace = ["rankPoints", "winPoints"]

In [6]:
pubgDF_pre1 = pubgDF_ori.drop(drop_features_object, axis=1)
pubgDF_pre1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4446965 entries, 0 to 4446965
Data columns (total 26 columns):
 #   Column           Dtype
---  ------           -----
 0   assists          int64
 1   boosts           int64
 2   damageDealt      float64
 3   DBNOs            int64
 4   headshotKills    int64
 5   heals            int64
 6   killPlace        int64
 7   killPoints       int64
 8   kills            int64
 9   killStreaks      int64
 10  longestKill      float64
 11  matchDuration    int64
 12  matchType        object
 13  maxPlace         int64
 14  numGroups        int64
 15  rankPoints       int64
 16  revives          int64
 17  rideDistance     float64
 18  roadKills        int64
 19  swimDistance     float64
 20  teamKills        int64
 21  vehicleDestroys  int64
 22  walkDistance     float64
 23  weaponsAcquired  int64
 24  winPoints        int64
 25  winPlacePerc     float64
dtypes: float64(6), int64(19), object(1)
memory usage: 916.0+ MB

In [7]:
pubg_testDF_pre1 = pubg_testDF_ori.drop(drop_features_object, axis=1)
pubg_testDF_pre1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1934174 entries, 0 to 1934173
Data columns (total 25 columns):
 #   Column           Dtype
---  ------           -----
 0   assists          int64
 1   boosts           int64
 2   damageDealt      float64
 3   DBNOs            int64
 4   headshotKills    int64
 5   heals            int64
 6   killPlace        int64
 7   killPoints       int64
 8   kills            int64
 9   killStreaks      int64
 10  longestKill      float64
 11  matchDuration    int64
 12  matchType        object
 13  maxPlace         int64
 14  numGroups        int64
 15  rankPoints       int64
 16  revives          int64
 17  rideDistance     float64
 18  roadKills        int64
 19  swimDistance     float64
 20  teamKills        int64
 21  vehicleDestroys  int64
 22  walkDistance     float64
 23  weaponsAcquired  int64
 24  winPoints        int64
dtypes: float64(5), int64(19), object(1)
memory usage: 368.9+ MB

In [8]:
pubgDF_pre1[drop_features_replace], pubg_testDF_pre1[drop_features_replace]

(         rankPoints  winPoints
 0                -1       1466
 1              1484          0
 2              1491          0
 3              1408          0
 4              1560          0
 ...             ...        ...
 4446961          -1       1507
 4446962        1501          0
 4446963        1500          0
 4446964        1418          0
 4446965        1590          0

 [4446965 rows x 2 columns],
          rankPoints  winPoints
 0              1500          0
 1              1503          0
 2              1565          0
 3              1465          0
 4              1480          0
 ...             ...        ...
 1934169          -1       1526
 1934170          -1       1496
 1934171        1482          0
 1934172        1456          0
 1934173          -1       1551

 [1934174 rows x 2 columns])

In [9]:
pubgDF_pre1[drop_features_replace][
    (pubgDF_pre1["rankPoints"] != -1)
    & (pubgDF_pre1["rankPoints"] != 0)
    & (pubgDF_pre1["winPoints"] != 0)
], pubg_testDF_pre1[drop_features_replace][
    (pubg_testDF_pre1["rankPoints"] != -1)
    & (pubg_testDF_pre1["rankPoints"] != 0)
    & (pubg_testDF_pre1["winPoints"] != 0)
]

(Empty DataFrame
 Columns: [rankPoints, winPoints]
 Index: [],
 Empty DataFrame
 Columns: [rankPoints, winPoints]
 Index: [])

In [10]:
winRankPoints = pubgDF_pre1["rankPoints"].replace(-1, 0) + pubgDF_pre1["winPoints"]
winRankPoints_test = (
    pubg_testDF_pre1["rankPoints"].replace(-1, 0) + pubg_testDF_pre1["winPoints"]
)

In [11]:
pubgDF_pre2 = pd.concat(
    [
        pubgDF_pre1.drop(drop_features_replace + ["winPlacePerc"], axis=1),
        winRankPoints.rename("winRankPoints"),
        pubgDF_pre1["winPlacePerc"],
    ],
    axis=1,
)
pubgDF_pre2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4446965 entries, 0 to 4446965
Data columns (total 25 columns):
 #   Column           Dtype
---  ------           -----
 0   assists          int64
 1   boosts           int64
 2   damageDealt      float64
 3   DBNOs            int64
 4   headshotKills    int64
 5   heals            int64
 6   killPlace        int64
 7   killPoints       int64
 8   kills            int64
 9   killStreaks      int64
 10  longestKill      float64
 11  matchDuration    int64
 12  matchType        object
 13  maxPlace         int64
 14  numGroups        int64
 15  revives          int64
 16  rideDistance     float64
 17  roadKills        int64
 18  swimDistance     float64
 19  teamKills        int64
 20  vehicleDestroys  int64
 21  walkDistance     float64
 22  weaponsAcquired  int64
 23  winRankPoints    int64
 24  winPlacePerc     float64
dtypes: float64(6), int64(18), object(1)
memory usage: 882.1+ MB

In [12]:
pubg_testDF_pre2 = pd.concat(
    [
        pubg_testDF_pre1.drop(drop_features_replace, axis=1),
        winRankPoints_test.rename("winRankPoints"),
    ],
    axis=1,
)
pubg_testDF_pre2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1934174 entries, 0 to 1934173
Data columns (total 24 columns):
 #   Column           Dtype
---  ------           -----
 0   assists          int64
 1   boosts           int64
 2   damageDealt      float64
 3   DBNOs            int64
 4   headshotKills    int64
 5   heals            int64
 6   killPlace        int64
 7   killPoints       int64
 8   kills            int64
 9   killStreaks      int64
 10  longestKill      float64
 11  matchDuration    int64
 12  matchType        object
 13  maxPlace         int64
 14  numGroups        int64
 15  revives          int64
 16  rideDistance     float64
 17  roadKills        int64
 18  swimDistance     float64
 19  teamKills        int64
 20  vehicleDestroys  int64
 21  walkDistance     float64
 22  weaponsAcquired  int64
 23  winRankPoints    int64
dtypes: float64(5), int64(18), object(1)
memory usage: 354.2+ MB

In [13]:
def opt_dtype(df: pd.DataFrame):
    df2 = df.copy()
    for col in df.columns:
        if df[col].dtype == "int64":
            if df[col].max() < 2**8:
                df2[col] = df[col].astype("uint8")
            elif df[col].max() < 2**16:
                df2[col] = df[col].astype("uint16")
            elif df[col].max() < 2**32:
                df2[col] = df[col].astype("uint32")
    return df2

In [14]:
pubgDF_pre3 = opt_dtype(pubgDF_pre2)
pubgDF_pre3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4446965 entries, 0 to 4446965
Data columns (total 25 columns):
 #   Column           Dtype
---  ------           -----
 0   assists          uint8
 1   boosts           uint8
 2   damageDealt      float64
 3   DBNOs            uint8
 4   headshotKills    uint8
 5   heals            uint8
 6   killPlace        uint8
 7   killPoints       uint16
 8   kills            uint8
 9   killStreaks      uint8
 10  longestKill      float64
 11  matchDuration    uint16
 12  matchType        object
 13  maxPlace         uint8
 14  numGroups        uint8
 15  revives          uint8
 16  rideDistance     float64
 17  roadKills        uint8
 18  swimDistance     float64
 19  teamKills        uint8
 20  vehicleDestroys  uint8
 21  walkDistance     float64
 22  weaponsAcquired  uint8
 23  winRankPoints    uint16
 24  winPlacePerc     float64
dtypes: float64(6), object(1), uint16(3), uint8(15)
memory usage: 360.5+ MB

In [15]:
pubg_testDF_pre3 = opt_dtype(pubg_testDF_pre2)
pubg_testDF_pre3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1934174 entries, 0 to 1934173
Data columns (total 24 columns):
 #   Column           Dtype
---  ------           -----
 0   assists          uint8
 1   boosts           uint8
 2   damageDealt      float64
 3   DBNOs            uint8
 4   headshotKills    uint8
 5   heals            uint8
 6   killPlace        uint8
 7   killPoints       uint16
 8   kills            uint8
 9   killStreaks      uint8
 10  longestKill      float64
 11  matchDuration    uint16
 12  matchType        object
 13  maxPlace         uint8
 14  numGroups        uint8
 15  revives          uint8
 16  rideDistance     float64
 17  roadKills        uint8
 18  swimDistance     float64
 19  teamKills        uint8
 20  vehicleDestroys  uint8
 21  walkDistance     float64
 22  weaponsAcquired  uint8
 23  winRankPoints    uint16
dtypes: float64(5), object(1), uint16(3), uint8(15)
memory usage: 127.3+ MB

In [16]:
pubgDF_pre3["matchType"].unique()

array(['squad-fpp', 'duo', 'solo-fpp', 'squad', 'duo-fpp', 'solo',
       'normal-squad-fpp', 'crashfpp', 'flaretpp', 'normal-solo-fpp',
       'flarefpp', 'normal-duo-fpp', 'normal-duo', 'normal-squad',
       'crashtpp', 'normal-solo'], dtype=object)

In [17]:
mask_duo = pubgDF_pre3["matchType"] == "duo"
mask_duo_fpp = pubgDF_pre3["matchType"] == "duo-fpp"
mask_test_duo = pubg_testDF_pre3["matchType"] == "duo"
mask_test_duo_fpp = pubg_testDF_pre3["matchType"] == "duo-fpp"

In [18]:
pubg_duoDF = pubgDF_pre3[mask_duo].drop("matchType", axis=1)
pubg_duoDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 313591 entries, 2 to 4446955
Data columns (total 24 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   assists          313591 non-null  uint8
 1   boosts           313591 non-null  uint8
 2   damageDealt      313591 non-null  float64
 3   DBNOs            313591 non-null  uint8
 4   headshotKills    313591 non-null  uint8
 5   heals            313591 non-null  uint8
 6   killPlace        313591 non-null  uint8
 7   killPoints       313591 non-null  uint16
 8   kills            313591 non-null  uint8
 9   killStreaks      313591 non-null  uint8
 10  longestKill      313591 non-null  float64
 11  matchDuration    313591 non-null  uint16
 12  maxPlace         313591 non-null  uint8
 13  numGroups        313591 non-null  uint8
 14  revives          313591 non-null  uint8
 15  rideDistance     313591 non-null  float64
 16  roadKills        313591 non-null  uint8
 17  swimDistance     313591 non-null  float64
 18  teamKills        313591 non-null  uint8
 19  vehicleDestroys  313591 non-null  uint8
 20  walkDistance     313591 non-null  float64
 21  weaponsAcquired  313591 non-null  uint8
 22  winRankPoints    313591 non-null  uint16
 23  winPlacePerc     313591 non-null  float64
dtypes: float64(6), uint16(3), uint8(15)
memory usage: 23.0 MB

In [19]:
pubg_duo_fppDF = pubgDF_pre3[mask_duo_fpp].drop("matchType", axis=1)
pubg_duo_fppDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 996691 entries, 11 to 4446958
Data columns (total 24 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   assists          996691 non-null  uint8
 1   boosts           996691 non-null  uint8
 2   damageDealt      996691 non-null  float64
 3   DBNOs            996691 non-null  uint8
 4   headshotKills    996691 non-null  uint8
 5   heals            996691 non-null  uint8
 6   killPlace        996691 non-null  uint8
 7   killPoints       996691 non-null  uint16
 8   kills            996691 non-null  uint8
 9   killStreaks      996691 non-null  uint8
 10  longestKill      996691 non-null  float64
 11  matchDuration    996691 non-null  uint16
 12  maxPlace         996691 non-null  uint8
 13  numGroups        996691 non-null  uint8
 14  revives          996691 non-null  uint8
 15  rideDistance     996691 non-null  float64
 16  roadKills        996691 non-null  uint8
 17  swimDistance     996691 non-null  float64
 18  teamKills        996691 non-null  uint8
 19  vehicleDestroys  996691 non-null  uint8
 20  walkDistance     996691 non-null  float64
 21  weaponsAcquired  996691 non-null  uint8
 22  winRankPoints    996691 non-null  uint16
 23  winPlacePerc     996691 non-null  float64
dtypes: float64(6), uint16(3), uint8(15)
memory usage: 73.2 MB

In [20]:
pubg_test_duoDF = pubg_testDF_pre3[mask_test_duo].drop("matchType", axis=1)
pubg_test_duoDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 140935 entries, 31 to 1934166
Data columns (total 23 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   assists          140935 non-null  uint8
 1   boosts           140935 non-null  uint8
 2   damageDealt      140935 non-null  float64
 3   DBNOs            140935 non-null  uint8
 4   headshotKills    140935 non-null  uint8
 5   heals            140935 non-null  uint8
 6   killPlace        140935 non-null  uint8
 7   killPoints       140935 non-null  uint16
 8   kills            140935 non-null  uint8
 9   killStreaks      140935 non-null  uint8
 10  longestKill      140935 non-null  float64
 11  matchDuration    140935 non-null  uint16
 12  maxPlace         140935 non-null  uint8
 13  numGroups        140935 non-null  uint8
 14  revives          140935 non-null  uint8
 15  rideDistance     140935 non-null  float64
 16  roadKills        140935 non-null  uint8
 17  swimDistance     140935 non-null  float64
 18  teamKills        140935 non-null  uint8
 19  vehicleDestroys  140935 non-null  uint8
 20  walkDistance     140935 non-null  float64
 21  weaponsAcquired  140935 non-null  uint8
 22  winRankPoints    140935 non-null  uint16
dtypes: float64(5), uint16(3), uint8(15)
memory usage: 9.3 MB

In [21]:
pubg_test_duo_fppDF = pubg_testDF_pre3[mask_test_duo_fpp].drop("matchType", axis=1)
pubg_test_duo_fppDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441667 entries, 1 to 1934172
Data columns (total 23 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   assists          441667 non-null  uint8
 1   boosts           441667 non-null  uint8
 2   damageDealt      441667 non-null  float64
 3   DBNOs            441667 non-null  uint8
 4   headshotKills    441667 non-null  uint8
 5   heals            441667 non-null  uint8
 6   killPlace        441667 non-null  uint8
 7   killPoints       441667 non-null  uint16
 8   kills            441667 non-null  uint8
 9   killStreaks      441667 non-null  uint8
 10  longestKill      441667 non-null  float64
 11  matchDuration    441667 non-null  uint16
 12  maxPlace         441667 non-null  uint8
 13  numGroups        441667 non-null  uint8
 14  revives          441667 non-null  uint8
 15  rideDistance     441667 non-null  float64
 16  roadKills        441667 non-null  uint8
 17  swimDistance     441667 non-null  float64
 18  teamKills        441667 non-null  uint8
 19  vehicleDestroys  441667 non-null  uint8
 20  walkDistance     441667 non-null  float64
 21  weaponsAcquired  441667 non-null  uint8
 22  winRankPoints    441667 non-null  uint16
dtypes: float64(5), uint16(3), uint8(15)
memory usage: 29.1 MB

In [22]:
save_dir = "./DataFrame/"

In [23]:
pubg_duoDF.to_pickle(save_dir + "pubg_duoDF.pkl")
pubg_duo_fppDF.to_pickle(save_dir + "pubg_duo_fppDF.pkl")
pubg_test_duoDF.to_pickle(save_dir + "pubg_test_duoDF.pkl")
pubg_test_duo_fppDF.to_pickle(save_dir + "pubg_test_duo_fppDF.pkl")
pubg_testDF_ori.to_pickle(save_dir + "pubg_testDF_ori.pkl")

In [29]:
pubg_testDF_100 = pubg_testDF_ori.iloc[:100]

In [30]:
winRankPoints_100 = (
    pubg_testDF_100["rankPoints"].replace(-1, 0) + pubg_testDF_100["winPoints"]
)

In [32]:
pubg_testDF_100_re = pd.concat(
    [
        pubg_testDF_100.drop(drop_features_replace, axis=1),
        winRankPoints_100.rename("winRankPoints"),
    ],
    axis=1,
)
pubg_testDF_100_re.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               100 non-null    object
 1   groupId          100 non-null    object
 2   matchId          100 non-null    object
 3   assists          100 non-null    int64
 4   boosts           100 non-null    int64
 5   damageDealt      100 non-null    float64
 6   DBNOs            100 non-null    int64
 7   headshotKills    100 non-null    int64
 8   heals            100 non-null    int64
 9   killPlace        100 non-null    int64
 10  killPoints       100 non-null    int64
 11  kills            100 non-null    int64
 12  killStreaks      100 non-null    int64
 13  longestKill      100 non-null    float64
 14  matchDuration    100 non-null    int64
 15  matchType        100 non-null    object
 16  maxPlace         100 non-null    int64
 17  numGroups        100 non-null    int64
 18  revives          100 non-null    int64
 19  rideDistance     100 non-null    float64
 20  roadKills        100 non-null    int64
 21  swimDistance     100 non-null    float64
 22  teamKills        100 non-null    int64
 23  vehicleDestroys  100 non-null    int64
 24  walkDistance     100 non-null    float64
 25  weaponsAcquired  100 non-null    int64
 26  winRankPoints    100 non-null    int64
dtypes: float64(5), int64(18), object(4)
memory usage: 21.2+ KB

In [26]:
pubg_testDF_pre1

,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,killPoints,kills,killStreaks,...,rankPoints,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints
0,0,0,51.46,0,0,0,73,0,0,0,...,1500,0,0.0,0,0.000,0,0,588.00,1,0
1,0,4,179.10,0,0,2,11,0,2,1,...,1503,2,4669.0,0,0.000,0,0,2017.00,6,0
2,1,0,23.40,0,0,4,49,0,0,0,...,1565,0,0.0,0,0.000,0,0,787.80,4,0
3,0,0,65.52,0,0,0,54,0,0,0,...,1465,0,0.0,0,0.000,0,0,1812.00,3,0
4,0,4,330.20,1,2,1,7,0,3,1,...,1480,1,0.0,0,0.000,0,0,2963.00,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1934169,1,2,381.00,3,0,7,4,1294,4,2,...,-1,1,0.0,0,0.000,0,0,1799.00,5,1526
1934170,0,0,0.00,0,0,0,64,1449,0,0,...,-1,0,0.0,0,0.000,0,0,1195.00,3,1496
1934171,0,0,91.96,0,0,3,24,0,1,1,...,1482,0,0.0,0,7.798,1,0,3327.00,3,0
1934172,1,2,138.60,0,0,12,25,0,1,1,...,1456,1,0.0,0,0.000,0,0,1893.00,4,0
1934173,0,0,19.80,0,0,0,86,1380,0,0,...,-1,0,0.0,0,0.000,0,0,68.89,0,1551